<?php
// session_start();
// if (!isset($_SESSION['userid'])) {
//     header("location:login.php");
//     exit();
// }
// header("Access-Control-Allow-Origin: *");
?>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<a href="#">Home</a>
			<a href="#">Request</a>
			<a href="#">Views</a>
			<a href="#">Settings</a>
		</header>
		<form
			action="#"
			class="postfeed"
			id="postfeed"
			enctype="multipart/form-data">
			<div class="container">
				<input
					required=""
					type="text"
					name="cappost"
					class="input"
					id="captadd" />
				<label class="label">UPLOADED THESIS</label>
			</div>
			<div class="container">
				<input
					required=""
					type="file"
					name="imgpost"
					id="idimage"
					class="input"
					accept="image/*,video/*" />
			</div>
			<div class="divbutton">
				<button type="submit" id="captbtn" class="btn">
					<i class="animation"></i>UPLOAD<i class="animation"></i>
				</button>
			</div>
		</form>
	</body>
</html>
